html {
  text-align: center;
}

/* *{
  border: 1px solid black;
} */

.root{
  background-color: rgb(255, 244, 199);
}

p, footer, h1{
  color: rgb(24, 0, 70);
}


.weatherContainer, .uiContainer{
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 2em;
}

.uiContainer{
  max-width: 40em;
  margin: auto;
}
.uiMovie{
  max-width: 30em;
}

.uiWeather{
  max-width: 10em;
  margin-right: 0.1em;
  /* font-size: 1vw; */
  /* font-size: 8px; */
}



.weatherContainer div {
  margin-right: 0.25em;  
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageMap{
  width: 25em;
}

.textBoxForm {
  margin-right: 10px;
}

*{
  font-size: 1.2vw;
}

.carousel-item{
  position: relative;
}

.carousel-caption{
    color: white;
    text-shadow: 1px 1px 1px black;
}

.carousel-caption>p{
  color: white;
}