html {
  text-align: center;
}

html, p, div{
  background-color: rgb(255, 244, 199);
}

p, footer, h1{
  color: rgb(24, 0, 70);
}


.weatherContainer, .uiContainer{
  margin: auto;
  display: flex;
  justify-content: center;
  margin: 2em;
}
.weatherContainer div {
  margin-right: 0.25em;  
}

.formContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 244, 199);
}

.imageMap{
  width: 25em;
}

.textBoxForm {
  margin-right: 10px;
}